body h1{
    color: darkgreen;
    text-align: center;
}
body p{
    color: darkgreen;
    text-align: center;
}
body div{
    color: white;
    background-color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}